In [2]:
import pandas as pd
import numpy as np

In [3]:
index = np.arange(1,51)
columns = ['Judge1', 'Judge2', 'Judge3', 'Total']

In [4]:
data= pd.DataFrame(index=index, columns=columns)

In [5]:
data.loc[1] = [1,1,1,3]

In [10]:
data.head()

  Judge1 Judge2 Judge3 Total
1      1      1      1     3
2    NaN    NaN    NaN   NaN
3    NaN    NaN    NaN   NaN
4    NaN    NaN    NaN   NaN
5    NaN    NaN    NaN   NaN